{% extends 'base.html.twig' %}

{% block title %}ArticlesEntity index{% endblock %}

{% block body %}
    <h1>ArticlesEntity index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Unitprice</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for articles_entity in articles_entities %}
            <tr>
                <td>{{ articles_entity.id }}</td>
                <td>{{ articles_entity.name }}</td>
                <td>{{ articles_entity.unitprice }}</td>
                <td>
                    <a href="{{ path('app_articles_entity_show', {'id': articles_entity.id}) }}">show</a>
                    <a href="{{ path('app_articles_entity_edit', {'id': articles_entity.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_articles_entity_new') }}">Create new</a>
{% endblock %}
